<div class="card rounded-0 mt-3">
    <div class="card-body shadow rounded">
        <h5 class="card-title"><%= @user.name %></h5>
        <h6><%= pluralize(@user.views, "view") %></h6>
    </div>
</div>